
#levels-table table {
    width: 100%;
}

#info-div {
    display: flex;
    flex-direction: column;
    background-color: var(--header);
    filter: drop-shadow(10px );
    margin: auto;
}

#go-leaderboard {
    color: #AD7272;
}

/* Username Start */
#page section {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    text-align: left;
    padding: 1em;
    border-radius: 10px;
}

section#username-entry {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: grey solid 1px;

}

h1 {
    color: var(--text);
    font-weight: normal;
}

#delete-username {
    display: block;
    margin-top: 0.4em;
}

#submission-box {
    border: transparent none;
    margin: 0;
    padding-left: 20px;
    width: 75%;
    font-size: 1em;

}
#submission-box:focus-visible {
    border: none;
    outline: none;
}
#submission-button {
    margin: 0;
    background: var(--button);
    border: none;
    color: var(--background);
    font-size: .9em;
    width: 20%;

}

#username-entry-box {
    background: var(--background);
    width: 100%;
    border-radius: 10px;
    display: flex;

}


#submission-box:focus  {
    border: none;
}

.has-username {
    display: inline;
}

.no-username {
    display: none;
}

#username-entry, #rules-list, #levels-table  {
    background-color: var(--elementbg);
    width: 60%;
    max-width: 1000px;
}

section#rules-list {
    margin-bottom: 1em;
}

#username-entry h3 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#input-error {
    margin: 0.1em;
}



#username-value {
    font-weight: bold;
}

/* Username End */

/* Table Start */

tr th, tr td {
    width: fit-content;
    padding: 1em;
    border: transparent
    
}

table {
    border-collapse:collapse;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

#levels-table {
    min-height: 30em;
    margin: auto;
    margin-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    text-align: left;
    padding: 1em;
    border-radius: 10px;
}

#levels-table h3 {
    margin-left: 1em;
    margin-bottom: 0;
    margin-top: 0.5em;
    text-align: center;
}

.status-urgent {
    background: rgb(241, 139, 144);
}

.status-over {
    color: grey;
}

/* Table End */

#page {
    margin: auto;
}

#page, h1, td, #go-leaderboard {
    font-size: 1.2em;
}

/* Credits, at footer of page */

#credits {
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 1200px;
    font-size: 12pt;
    color: black;
    margin: auto;
    text-align: center;
}
#credits a {
    color: black;
}


footer {
    background-color: #eeeeee;

}