:root {
    --leaderboard-width: 65vw;
}

#info-div {
    display: flex;
    flex-direction: column;
    background-color: var(--header);
    filter: drop-shadow(10px );
    margin: auto;
}

#go-home {
    color: #AD7272;
    background-color: var(--buttonbg);
    font-size: 1.2em
}


/* Username Start */

#time-header {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}

#ceremony, #levels-container, #text-section   {
    background-color: var(--elementbg);
    width: 60%;
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
}

section#text-section {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    min-height: 20vh;
    margin-bottom: 1em;
}

section#ceremony {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    min-height: 20vh;

}

#delete-username {
    display: block;
    margin-top: 0.4em;
}

#submission-box {
    margin-top: 1em;
    display: inline;
}

.has-username {
    display: inline;
}

.no-username {
    display: none;
}

#username-entry h3 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#input-error {
    margin: 0.1em;
}


#username-value {
    font-weight: bold;
}

/* Username End */

/* Leaderboard Position Start */

#leaderboard-position {
    margin-left: 1em;
}

/* Leaderboard Position End */

/* Table Start */

tr th, tr td {
    width: fit-content;
    padding: 1em;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

#levels-table {
    position: relative;
    width: 100%;
    overflow-x: auto;
    box-shadow: inset -1em 0 1em -1.2em grey;
    background: var(--elementbg);
}

#static-section h3 {
    text-align: center;
}

#levels-table table {
    position: relative;
    width: 100%;
    overflow-x: scroll;
}

#levels-table h3 {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0em);
    margin-left: 1em;
    margin-bottom: 0;
    margin-top: 0.5em;
    text-align: center;
}

.status-over {
    color: grey;
}

/* Table End */

@media (max-width: 700px) {
    #page {
        width: 98%;
        padding: 2px;
    }
    #levels-container {
        width: 100%;
        padding: 0;
        margin-right: 0;
        margin-left: 0;
    }
}

/* Button */

#give-up {
    background: rgb(238, 160, 160);
}

#give-up:hover {
    background: rgb(233, 151, 151);
}

p {
    line-height: 200%;
}