@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@600&family=Montserrat:wght@400;500;600&display=swap');

:root {
    --background: white;
    --text: black;
    --elementbg: #F3F3F3;
    --buttonbg: #EFECEC;
    --buttonborder: #b3b3b3;
    --header: #1B1B1B;
    --subtle: #AD7272;
    --gold: #FEE333;
    --silver: #D9E3ED;
    --bronze: #F8BE8E;
    --silveraccent: #AAC0D5;
    --goldaccent: #FEC701;
    --bronzeaccent: #D09259;
    --shadow: #333;
    --lightshadow: #555;
    --linkhover: #e07171;
    --orange: #f98f53;
    --red: #f55a07;
    --green: #70e479;
    --greener: #48ac46;
    --primary: #58CC02;
    --blue: #4A90E2;
    --bluer: #2d8bf6;
    /* buttons on homepage */
    --active-button-top: #58CC02;
    --active-button-bottom: #46A302;
    --active-button-text: white;
    --active-level-text: #58CC02;
    --inactive-button-top: #E5E5E5;
    --inactive-button-bottom: #B7B7B7;
    --inactive-button-text: #AFAFAF;
    --inactive-level-text: #AFAFAF;
    --button-connector-line: #BFBFBF;
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #18181B;
        --text: white;
        --elementbg: #1e1e1e;
        --buttonbg: #0c0c0c;
        --buttonborder: #b3b3b3;
        --header: black;
        --subtle: #71AD8F;
        --gold: #FEE333;
        --silver: #D9E3ED;
        --bronze: #F8BE8E;
        --silveraccent: #AAC0D5;
        --goldaccent: #FEC701;
        --bronzeaccent: #D09259;
        --shadow: #111;
        --lightshadow: #222;
        --linkhover: #71AD8F;
        --orange: #f98f53;
        --red: #f55a07;
        --green: #70e479;
        --greener: #48ac46;
        --primary: #58CC02;
        --blue: #4A90E2;
        --bluer: #2d8bf6;
        /* buttons on homepage */
        --active-button-top: #58CC02;
        --active-button-bottom: #46A302;
        --active-button-text: white;
        --active-level-text: #58CC02;
        --inactive-button-top: #E5E5E5;
        --inactive-button-bottom: #B7B7B7;
        --inactive-button-text: #AFAFAF;
        --inactive-level-text: #AFAFAF;
        --button-connector-line: #BFBFBF;
    }
    
    header {
        color: var(--text) !important;
    }
    #ia-logo {
        fill: var(--text) !important;
    }
  }

.font-serif {
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
}

.font-header {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

* {
    font-family: 'Montserrat';
    font-weight: 400;
}

body {
    background: var(--background);
    margin: 0;
    color: var(--text)
}

#levels-header {
    display: flex;
    justify-content: space-between;
}

#go-leaderboard,
#go-home {
    color: var(--subtle);
    background-color: var(--buttonbg);
    border: none;
}

/*Footer Start*/
/* Credits, at footer of page */

#credits {
    max-width: 80%;
    font-size: 12pt;
    color: var(--text);
    margin-left: 1em;
}

#credits a {
    color: var(--text);
}

#credits a:hover {
    color: var(--linkhover);
}


footer {
    background-color: var(--elementbg);
    margin-top: 1em;
    display: flex;
    justify-content: space-between;

}

#credit-buttons {
    margin-top: auto;
    display: flex;
    margin-bottom: auto;
    margin-right: 1em;

}

#credit-buttons * {
    border: none;
    text-decoration: none;
    margin: 0;
    display: flex;
    text-align: center;
    height: 100%;
}

#credit-buttons #ia-logo svg {
    height: 3.6em;
    padding: 0;
}

#github i {
    font-size: 3.4em;
    padding: 0;
}

#change-theme-button {
    padding: 0;
    padding-top: 3px;
    margin-left: 10px;
}

#credit-buttons *:hover {
    color: var(--subtle);
    fill: var(--subtle)
}

/*Footer End*/

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    height: min-content;

}

#header, #text-section, #submissions-container {
    background-color: var(--elementbg);
    width: 60%;
    max-width: 1000px;
    margin: auto;
}

/* Heading Start */

header {
    text-align: center;
    background-color: var(--header);
    color: var(--background);
    font-size: 3em;
    padding-top: .4em;
    padding-bottom: .8em;
    display: flex;
    flex-direction: column;
    min-height: 2.8em;

}

header strong {
    font-size: 1.3em;
}

/* Heading End */


/* Year start */

#year {
    color: var(--primary);
    position: relative;
    right: 180px;
    left: 180px;
    transform: rotateZ(334deg);
    top: -35px;
    font-size: .7em;
    animation-name: year;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-weight: 600;

}

@keyframes year {
    from {
        font-size: .7em;
    }

    to {
        font-size: .8em;
    }
}


#year:after {
    content: "2024!"
}

/* Year End */


#username-entry h1 {
    font-size: 2em;
}

#username-entry h1#join {
    font-size: 1.3em;
}


button,
input {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--text);
    transition: border-color .2s;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

.center {
    text-align: center;
}

a {
    color: var(--text);
}

a:hover {
    color: var(--linkhover);
}


button.red,
button.green {
    font-weight: bold;
    color: var(--text);
    transition: background-color .5s;

}

.red,
.status-urgent {
    background-color: var(--orange);
    border-color: var(--red);

}

a.status-urgent {
    background-color: transparent;
    color: var(--red)
}

button.red:hover,
button.status-urgent:hover {
    background-color: var(--red);
    border-color: var(--orange);

}

.green {
    background-color: var(--green);

}

.green:hover {
    background-color: var(--greener);
    border-color: var(--buttonborder);
}

@media (max-width: 700px) {
    #year {
        animation: none;
        left: 140px;
        right: 140px;
        top: -20px;
        transform: none;
    }

    header {
        min-height: unset;
        padding-bottom: .4em;
    }

    button {
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #username-entry h1 {
        font-size: 1.5em;
    }

    footer {
        flex-direction: column;
    }

    #submission-box {
        font-size: 14px;
    }

    #levels-header {
        flex-direction: column;
        text-align: center;
    }

    #username-entry,
    #rules-list,
    #levels-table {
        width: 80%;
    }
}