
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@600&family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --background: white;
    --text: black;
    --elementbg: #F3F3F3;
    --buttonbg: #EFECEC;
    --header: #1B1B1B;
    --button: #4A90E2;
    --primary: #58CC02;
}

.font-serif {
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
}
.font-header {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

body {
    background: var(--background);
    margin: 0;
    color: var(--text)
}

#levels-header {
    display: flex;
    justify-content: space-between;
}

/* Heading Start */

header {
    text-align: center;
    background-color: var(--header);
    color: var(--background);
    font-size: 3em;
    padding-bottom: .8em;

}

#year {
    color: var(--primary);
    position: absolute;
    left: 56.5%;
    right: 46%;
    transform: rotateZ(340deg);
    top: 6%;
    font-size: .7em;
}

header img {
    padding-right: 10px;
    height: 25px;
    padding: 1em;
}

header strong {
    font-size: 1.3em;
}

#header h1 {
    font-size: xx-large;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#header h2 {
    font-size: large;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: grey;
}

/* Heading End */

button.red, button.green {
    font-weight: bold;
    color: var(--text);
    transition: background-color .5s;

}

.red, .status-urgent {
    background-color: #f98f53;
    border-color: #f55a07;

}

a.status-urgent {
    background-color: transparent;
    color: #f55a07
}

button.red:hover, button.status-urgent:hover {
    background-color: #f55a07;
    border-color: rgb(179, 179, 179);

}
.green {
    background-color: #70e479;

}
.green:hover {
    background-color: #48ac46;
    border-color: rgb(179, 179, 179);
}

.input-status-error {
    color: #f98f53;
}

.input-status-good {
    color: #70e479;
}

button, input {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: var(--text);
    transition: border-color .2s;
    margin-bottom: 10px;
}
button {
    cursor: pointer;
}
.center {
    text-align: center;
}

a {
    color: var(--text);
}

a:hover {
    color: rgb(224, 113, 113);
}
