:root {
    --wikipedia-link: #3366cc;
}

/* This style sheet inclues custom wiki css for WikiRaces */
/* wiki.css is just for Wikipedia's default CSS */

/* add mobile support */

table {
    display: grid;
    overflow: auto;
}

.outer-wrapper {
    margin: 0 auto;
    padding: 0 1rem;
}

@media only screen and (min-width: 50em) {
    .outer-wrapper {
        margin: 0 auto;
        max-width: 72rem;
    }
}

img {
    max-width: 100%;
    height: auto;
    overflow-x: auto;
    display: block;
}

/* style filtered links to be normal text */
.filtered-link {
    font-weight: normal;
}

/* filter table message boxes */
table.ambox {
    display: none;
}

/* they shouldn't edit pages */
span.mw-editsection {
    display: none;
}


/* disable external links and special links, but not internal links (aka ones that start with / or # */
a, a[href^="./"].external {
    pointer-events: none;
    cursor:text;
    text-decoration: none;
    color: black !important;
}

details summary { 
    cursor: pointer;
    margin-bottom: 1em;
    padding-bottom: .3em;
    border-bottom: solid 1px #eaecf0;
	margin-bottom: 0.5em;   
    margin-top: 0.5em;
}

details summary:has(h2) { 
    border-bottom: solid 1px #939497;
}

.hatnote, .dablink, .rellink {
	padding: 0 0 0.6em 0;
	color: #72777d;
	font-size: 0.8em;
	font-style: italic;
	padding-left: 1.6em;
	margin-bottom: 1em;
    margin-top: 1em;
}
  
details summary > * {
    display: inline;
}
  
details h3 {
	width: 100%;	
}

details h2 {
    border-bottom: 0;
}

p, body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

h1, h2 {
    font-weight: 600;
}

/* hide elements added by wikipedia download */
div[style="clear:both; background-image:linear-gradient(180deg, #E8E8E8, white); border-top: dashed 2px #AAAAAA; padding: 0.5em 0.5em 0.5em 0.5em; margin-top: 1em; direction: ltr;"]
, details:has(#References), .geo-inline-hidden.noexcerpt {
    display: none;
    visibility: hidden;
}
a[href^="#"],
a[href^="/"],
a[href^="./"] {
    pointer-events: all;
    cursor: pointer;
    text-decoration: none;
    color: var(--wikipedia-link) !important;
}

a[href^="/wiki/Help:"],
a[href^="/wiki/Portal:"],
a[href^="/wiki/Special:"],
a[href^="./wiki/Help:"],
a[href^="./wiki/Portal:"],
a[href^="./wiki/Special:"],
a[href^="./Help:"],
a[href^="./Portal:"],
a[href^="./Special:"],
/* a.new == "red" links to pages that don't exist yet */
a.new {
    pointer-events: none !important;
    cursor: text !important;
    text-decoration: none !important;
    color: black !important;
}

/* make reading text easier on the eyes*/
p {
    line-height: 1.6;
}

/* hide "lower-alpha" for links */
span.mw-reflink-text {
    display: none;
}